.super-mario {
    width: 200px;
    position: absolute;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    margin-top: 300px;
    margin-left: 30px;
  }
  
  .baloon {
    margin-top: 100px;
    position: absolute;
    margin-left: 200px;
    z-index: 1;
  
  }
  
  .speech {
    font-size: 25px;
    position: absolute;
    margin-top: 150px;
    margin-left: 230px;
    z-index: 2;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    margin-top: 225px;
    margin-left: 490px;
    z-index: 3;
  }