div:hover {
    border: 10px solid red;

}

.c1 {
   background-color:  blue;
}

.c2 {
    background-color:  yellow;
}

.c3 {
    background-color: orange;
    font-size: 30px;
}

.c4 {
    background-color: black;
}

.c5 {
    background-color: cyan;
}

h3 {
    color: blueviolet;
}